<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout :: head('국가코드/명 입력')}">
</head>
<body>
  <nav th:replace="~{layout :: navigator('Country')}"></nav>
  <main class="container d-flex flex-nowrap">
    <div class="m-3 p-3">
      <h4 class="mb-3">국가코드/명 입력</h4>
      <div>
        <hr>
      </div>
      <form class="d-flex flex-column" th:action="@{/countrySave}" method="post">
        <div class="col-6 mb-3">
          <label for="country-code" class="form-label">국가 코드</label>
          <input class="form-control" type="text" id="country-code" name="c_code" placeholder="국가코드" required>
        </div>
        <div class="col-6 mb-3">
          <label for="country-name" class="form-label">국가 명</label>
          <input class="form-control" type="text" id="country-name" name="name" placeholder="국가명" required>
        </div>
        <div class="mb-3">
          <button class="btn btn-outline-primary" type="submit">저장</button>
        </div>
      </form>
    </div>
  </main>
  <footer th:replace="~{layout :: footer}"></footer>
  <div th:replace="~{layout :: bootstrap_script}"></div>
</body>
</html>